version: '3.8'

services:
  app:
    build: .
    container_name: my-apotek-container
    ports:
      - "8081:8081"
    volumes:
      - ./data:/app/data
    environment:
      - SPRING_PROFILES_ACTIVE=prod
